.card {
    /*
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    */
    margin: 1.5em 0 1.5em 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    margin-right: 16px;
    max-width: 360px;
    min-width: 240px;
    border-radius: 12px;
}

.card .metadata {
    max-width: 600px;
    min-width: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card .title {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.card .view_count,.channel_info, .description {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: gray;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .channel_image_wrapper {
    padding-right: 8px;
}

.card .channel_image_wrapper .channel_image {
    border-radius: 50%;
    overflow: hidden;
    height: 32px;
    width: 32px;
}

.card .description {
    overflow: hidden;
}

.card .score {
    color: white;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

.card .channel_info_modal {
    position: absolute;
    z-index: 999;
    transition: 750ms all;
    color: white;
    background: gray;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: -5px;
    border-radius: 5px;
}

.card .more_info {
    background-color: #ADD8E6;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
}

.card .more_info_text {
    text-decoration: underline;
}

.card p {
    margin: 0;
}

.card .upload_date::before {
    content: "•";
    margin: 0 4px;
}

@media (max-width: 575.98px) {
    .card {
        flex-direction: column;
    }

    .card .description {
        display: none; 
    }

}

.renderer {
    position: relative;
    display: block;
}