/.ipynb_checkpoints/Algo_Test-checkpoint.ipynb
/.ipynb_checkpoints/Getting_Backlinks-checkpoint.ipynb
/.ipynb_checkpoints/test_translate-checkpoint.ipynb
/.ipynb_checkpoints/more_info_from_websites-checkpoint.ipynb
/local_testing.ipynb
/.ipynb_checkpoints/local_testing-checkpoint.ipynb
/sentimentanalysis/.ipynb_checkpoints/models-checkpoint.py
/notebooks/.ipynb_checkpoints/Google Search API Test-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/test_translate-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/Getting_Backlinks-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/Algo_Test-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/transcript_analysis-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/transcript_analysis_subjectivity-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/verifiability_scores-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/ScraperAPI-checkpoint.ipynb
/notebooks/.ipynb_checkpoints/Comment_algo_tests-checkpoint.ipynb
/notebooks/local_test.ipynb
/notebooks/.ipynb_checkpoints/local_test-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Sentiment_comments-checkpoint.ipynb
/notebooks/scratch_notebook.ipynb
/notebooks/.ipynb_checkpoints/scratch_notebook-checkpoint.ipynb
/datasets/test/filtered_comments.csv
/datasets/test/final_whisper_transcript.csv
/datasets/test/per_comment_polarity.csv
/datasets/test/per_video_comment_polarity.csv
/datasets/test/ranks.csv
/datasets/test/source_backlinks.csv
/datasets/test/source_check.csv
/.ipynb_checkpoints/source_checker-checkpoint.py
/datasets/test/source_links.csv
/datasets/test/subjectivity_scores.csv
/datasets/test/verifiability_scores.csv
/datasets/test/video_backlinks.csv
/datasets/test/videos.csv
/datasets/test/vs_raw_scores.csv
/datasets/test/channels.csv
/datasets/test/comments.csv
/datasets/test/unchecked.csv
