.video {
    margin: 0 0 1.5em 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 220px;
}

.video > * {
    flex: 3 7;
}

.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    margin-right: 16px;
    max-width: 360px;
    min-width: 240px;
    border-radius: 12px;
}

.video .metadata {
    max-width: 600px;
    min-width: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.video .title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.video .view_count, .channel_info, .description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video .channel_info {
    padding: 12px 0;
}

.video .channel_image_wrapper {
    padding-right: 8px;
}

.video .channel_image_wrapper .channel_image {
    border-radius: 50%;
    overflow: hidden;
    height: 32px;
    width: 32px;
}

.video .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.video .score {
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.video .channel_info_tooltip {
    position: absolute;
    z-index: 999;
    color: white;
    background: #555555;
    margin-left: 1.5rem;
    padding: 3px;
    margin-top: -3px;
    border-radius: 5px;
    font-size: 1rem;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

.video .channel_info_tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555555 transparent transparent;
}

.video p {
    margin: 0;
}

.video .upload_date::before {
    content: "•";
    margin: 0 4px;
}

.renderer {
    position: relative;
    display: block;
}